a {
    color: #993a4e;
}

.clear {
    clear: both;
}

p {
    padding: 5px 0 5px 0;
    margin: 0px;
    text-align: justify;
    line-height: 19px;
}

p.details {
    padding: 5px 15px 5px 15px;
    font-size: 11px;
}

p.details_cart {
    clear: both;
    padding: 25px 30px 5px 0px;
    font-size: 11px;
    font-style: italic;
}

p.more_details {
    padding: 25px 20px 0px 20px;
    font-size: 11px;

}

#wrap {
    width: 900px;
    height: auto;
    margin: auto;

}

.logo {
    padding: 30px 0 0 20px;
}

/*----------------crumb_nav------------------*/
.crumb_nav {
    padding: 5px 0 10px 0px;
}

.crumb_nav a {
    color: #11819E;
}

span.red {
    color: #11819E;
}

.price {
    font-size: 14px;
    padding: 0 0 0 15px;
    margin: 2px 0 5px 0;
}

span.colors {
    padding: 2px 2px 0 2px;
}

/*------------------------------------center content--------------------*/

.left_content {
    width: 653px;
    float: left;
    padding: 10px 0 20px 80px;
}

.right_content {
    width: 370px;
    float: left;
    padding: 20px 0 20px 20px;
}

.title {
    color: #993a4e;
    padding: 0px;
    float: left;
    font-size: 19px;
    margin: 10px 0 10px 0;
}

span.title_icon {
    float: left;
    padding: 0 5px 0 0;
}

.prod_title {
    color: #993a4e;
    padding: 5px 0 0 15px;
    font-size: 13px;
}

a.more {
    font-style: italic;
    color: #993a4e;
    float: right;
    text-decoration: none;
    font-size: 11px;
    padding: 2px 66px 0 0;
}

.about {
    width: 337px;
    clear: both;
    background: url(images/border.gif) no-repeat bottom center;
    padding: 0 0 40px 0;
}

img.right {
    float: right;
    padding: 0 0 0 30px;
}

.right_box {
    width: 170px;
    float: left;
    padding: 10px 0 0 0;
}

/*--------feat_prod_box-----------*/
.feat_prod_box {
    padding: 10px 0 10px 10px;
    margin: 0 20px 20px 0;
    border-bottom: 1px #b2b2b2 dashed;
    clear: both;
}

.feat_prod_box_details {
    padding: 10px 0 10px 0;
    margin: 0 20px 10px 0;
    clear: both;
}

.prod_img {
    float: left;
    padding: 0 5px 0 0;
    text-align: center;
}

.prod_det_box {
    width: 295px;
    float: left;
    padding: 0 0 0 100px;
    position: relative;
}

.box_top {
    width: 295px;
    height: 9px;
    background: url(images/box_top.gif) no-repeat center bottom;
}

.box_center {
    width: 295px;
    height: auto;
    background: url(images/box_center.gif) repeat-y center;
}

.box_bottom {
    width: 295px;
    height: 9px;
    background: url(images/box_bottom.gif) no-repeat center top;
}

.new_prod_box {
    float: left;
    text-align: center;
    padding: 10px;
}

.new_prod_box a {
    padding: 5px 0 5px 0;
    color: #b5b5b6;
    text-decoration: none;
    display: block;
}

.new_prod_bg {
    width: 132px;
    height: 119px;
    text-align: center;
    background: url(images/new_prod_box.gif) no-repeat center;
    position: relative;
}

.new_icon {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 200;
}

.special_icon {
    position: absolute;
    top: 0px;
    _top: 6px;
    right: 2px;
    z-index: 250;
}

img.thumb {
    padding: 10px 0 0 0;
}

.new_products {
    clear: both;
    padding: 0px;
}

ul.list {
    clear: both;
    padding: 10px 0 0 20px;
    margin: 0px;
}

ul.list li {
    list-style: none;
    padding: 2px 0 2px 0;
}

ul.list li a {
    list-style: none;
    text-decoration: none;
    color: #000000;

    padding: 0 0 0 17px;
}

ul.list li a:hover {
    text-decoration: underline;
}

/* demo */

div.demolayout {
    width: 460px;
    margin: 0 0 20px 0;
}

ul.demolayout {
    list-style-type: none;
    float: left;
    margin: 0px;
    padding: 0px;
}

ul.demolayout li {
    margin: 0 10px 0 0;
    float: left;
}

.tab {
    border: 1px #DFDFDF solid;
    padding: 0 0 25px 0;
}

ul.demolayout a {
    float: left;
    display: block;
    padding: 5px 25px;
    border: 1px solid #DFDFDF;
    border-bottom: 0;
    color: #666;
    background: #eee;
    text-decoration: none;
    font-weight: bold;
}

ul.demolayout a:hover {
    background: #fff;
}

ul.demolayout a.active {
    background: #fff;
    padding-bottom: 5px;
    cursor: default;
    color: #11819E;
}

.tabs-container {
    clear: left;
    padding: 0px;
}

/*------------------------cart---------------------*/
.cart {
    width: 337px;
    float: left;
    height: 40px;
    margin: 10px 0 10px 0;
    background: url(images/border.gif) no-repeat bottom center;
    padding: 0 0 40px 0;
}

.home_cart_content {
    float: left;
    padding: 3px;
    border: 1px #eeedee solid;
    margin: 10px 0 0 15px;
}

a.view_cart {
    display: block;
    float: left;
    margin: 12px 0 0 10px;
    color: #2E7D8A;
}

/*---------------contact_form------------------*/
.contact_form {
    width: 355px;
    float: left;
    padding: 25px;
    margin: 20px 0 0 15px;
    _margin: 20px 0 0 5px;
    border: 1px #DFD1D2 dashed;
    position: relative;
}

.form_row {
    width: 335px;
    _width: 355px;
    clear: both;
    padding: 10px 0 10px 0;
    _padding: 5px 0 5px 0;
    color: #a53d17;
}

label.contact {
    width: 75px;
    float: left;
    font-size: 12px;
    text-align: right;
    padding: 4px 5px 0 0;
    color: #333333;
}

input.contact_input {
    width: 253px;
    height: 18px;
    background-color: #fff;
    color: #999999;
    border: 1px #DFDFDF solid;
    float: left;
}

textarea.contact_textarea {
    width: 253px;
    height: 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #999999;
    background-color: #fff;
    border: 1px #DFDFDF solid;
    float: left;
}

input.register {
    width: 71px;
    height: 25px;
    border: none;
    cursor: pointer;
    text-align: center;
    float: right;
    color: #FFFFFF;
    background: url(images/register_bt.gif) no-repeat center;
}

a.contact {
    width: 53px;
    height: 24px;
    display: block;
    float: right;
    margin: 0 0 0 10px;
    background: url(images/contact_bt.gif) no-repeat center;
    text-decoration: none;
    text-align: center;
    line-height: 24px;
    color: #fff;
}

a.checkout {
    width: 71px;
    height: 25px;
    display: block;
    float: right;
    margin: 10px 185px 0 10px;
    background: url(images/register_bt.gif) no-repeat center;
    text-decoration: none;
    text-align: center;
    line-height: 25px;
    color: #fff;
}

a.continue {
    width: 71px;
    height: 25px;
    display: block;
    float: left;
    margin: 10px 0 0 0px;
    background: url(images/register_bt.gif) no-repeat center;
    text-decoration: none;
    text-align: center;
    line-height: 25px;
    color: #fff;
}

.terms {
    padding: 0 0 0 80px;
}

.form_subtitle {
    position: absolute;
    top: -11px;
    left: 7px;
    width: auto;
    height: 20px;
    background-color: #2E7D8A;
    text-align: center;
    padding: 0 7px 0 7px;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 20px;
}

/*--------------cart_table-------------*/
.cart_table {
    width: 440px;
    border: 1px #CCCCCC solid;
    text-align: center;
}

tr.cart_title {
    background-color: #DFDFDF;
}

td {
    padding: 3px;
}

td.cart_total {
    text-align: right;
    padding: 5px 15px 5px 0;
}

img.cart_thumb {
    border: 1px #b2b2b2 solid;
    padding: 2px;
}

/*--------------*/
div.pagination {
    width: 420px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    float: left;
    clear: both;
    font-size: 10px;
}

div.pagination a {
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #2E7D8A;
    text-decoration: none;
    color: #2E7D8A;
}

div.pagination a:hover, div.pagination a:active {
    border: 1px solid #2E7D8A;
    color: #fff;
    background-color: #2E7D8A;
}

div.pagination span.current {
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #2E7D8A;
    font-weight: bold;
    background-color: #2E7D8A;
    color: #FFF;
}

div.pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin-right: 2px;
    border: 1px solid #f3f3f3;
    color: #ccc;
}

